# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Seaborn  
5. Scikit-learn

 Data Science Tools   
--------------------  
 Jupyter Notebook     
 RStudio              
 VS Code

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries
- Create tables using markdown
- Perform arithmetic expressions in code
- Share notebooks through GitHub

**Author:** Tushar Ahlawat